#chatBox {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  border: 1px black solid;
  overflow-y: auto;
}

#chatText {
  width: 80%;
}

#chatStuff {
  float: right;
  width: 30%;
}

.chatter {
  display: inline-block;
  word-break: break-all;
}

.red {
  color: red;
  display: inline-block;
  padding-right: 0.5rem;
}

.blue {
  color: blue;
  display: inline-block;
  padding-right: 0.5rem;
}
